[2017-08-11 06:27] anuveyatsu opened #1 "Boot the library"
Structure:

* /lib
  * /index.js (with data.js)
  * /parser
    * csv.js
    * xlsx.js
* /test
* package.json
* .gitignore

[2017-08-11 06:28] anuveyatsu opened #2 "Setup travis and fix tests with fixtures"
We want to have all tests are fixed and travis setup
## Acceptance criteria

* [x] All tests fixed
* [x] Travis setup

## Tasks

* [x] Fix all tests
* [x] Add `.travis.yml`

[2017-08-11 07:44] anuveyatsu opened #3 "Add this repo into script for creating milestones and into the board"
## Acceptance criteria

* [x] Added into list of repos in our script for creating/closing milestones
* [x] Added into board

## Tasks

* [x] add to list of repos
* [x] add to board

[2017-08-11 07:45] anuveyatsu commented on #1
FIXED

[2017-08-11 07:45] #1 closed, assigned to anuveyatsu

[2017-08-11 07:53] Mikanebu commented on #3
https://raw.githubusercontent.com/datopian/ourbot/master/extras/closeMilestones.js

[2017-08-11 07:53] Mikanebu commented on #3
FIXED

[2017-08-11 07:53] #3 closed, assigned to nobody

[2017-08-11 18:15] anuveyatsu commented on #2
FIXED

[2017-08-11 18:15] #2 closed, assigned to nobody

[2017-08-14 07:58] Mikanebu opened #5 "Include dataset and file class description into README"
We want to have our README.md with class descriptions and usage.

## Acceptance criteria

* [ ] Nicely written `README.md` with `Dataset` and `File` class description and usage

## Tasks

* [x] Introduction
* [x] Quick start
* [x] Add section for `File` class
* [x] Add sections for `Dataset` class

[2017-08-14 11:42] anuveyatsu opened #7 "Reimplement parseDatasetIdentifier function"
Analysis of this issue is in https://github.com/datahq/datahub-cli/issues/144

## Acceptance criteria

* [x] satisfies these 4 scenarios - https://github.com/datahq/datahub-cli/issues/144#issuecomment-321982954

## Tasks

* [x] refactor `parseDatasetIdentifier` function in `/lib/index.js`
* [x] copy and refactor tests from cli repo

[2017-08-14 20:06] anuveyatsu commented on #7
FIXED

[2017-08-14 20:06] #7 closed, assigned to anuveyatsu

[2017-08-15 07:49] Mikanebu commented on #5
FIXED

[2017-08-21 06:20] rufuspollock opened #9 "Make File.descriptor a property"
## Acceptance criteria

* [x] File.descriptor is accessed as a property using get accessor

## Tasks

* [x] Make it "private": descriptor => _descriptor
* [x] Convert to get accessor

[2017-08-21 06:54] rufuspollock opened #10 "Rename load to open (?)"
to be discussed. (and to be compatible with decision in the published pattern http://okfnlabs.org/blog/2018/02/15/design-pattern-for-a-core-data-library.html)

For backwards compatibility we could alias ...

Why? Semantics seem more natural and more accurate, at least on `File` where we aren't actually loading anything until you call stream

[code]

For Dataset it is less clear ("opening" a datase

[2017-08-21 07:28] rufuspollock opened #11 "Dataset.addResource improvements (support basePath, adding paths)"
* [ ] Support adding from a string path (relative or otherwise) `addResource(stringPath)`
* [ ] Use basePath when creating the resource if creating one

[2017-08-21 07:37] rufuspollock commented on #5
@Mikanebu this was definitely not FIXED 😄  - there were no proper docs for File or Dataset. I've just added these now.

[2017-08-21 07:38] #5 closed, assigned to Mikanebu

[2017-09-01 06:29] anuveyatsu commented on #9
FIXED

[2017-09-01 06:29] #9 closed, assigned to anuveyatsu

[2017-09-12 07:45] anuveyatsu opened #12 "Option to download only part of the large files"
When working with large remote files, we have to download the entire file to generate a schema. However, it is not the desired behaviour and we want to improve it. E.g., we want to download only some part of the file (10k rows) and use it to generate the schema.

## Acceptance criteria

* [ ] I can use `rows` method with `limit` option and set number of rows I need.

## Tasks

* [ ] refactor `File

[2017-09-12 11:22] rufuspollock commented on #12
@anuveyatsu aren't stream and rows already streams so we can just shut off the stream when we've read as much as we need -- i.e. why do we need special new options (can't consumers take care of using these streams sensibly themselves ...)?

[2017-09-13 05:20] anuveyatsu commented on #12
@rufuspollock it seems I was confused when doing the analysis. Our main goal is to don't download entire file when adding schema, which can be simply done with tableschema by setting limit property. In fact, by default, it is reading only first 100 rows:

[code]

So this:

[code]

should just pass location of the file to the infer method:

[code]

[2017-09-13 08:02] rufuspollock commented on #12
@anuveyatsu can you pass a row stream to infer or not? I'd prefer not to pass the path (e.g. does infer support urls and local paths etc)

[2017-09-13 08:09] anuveyatsu commented on #12
@rufuspollock yes, infer supports URLs and paths. Need to test for row stream

[2017-09-18 13:45] anuveyatsu commented on #12
@rufuspollock no, tableschema-js does not support a row stream as a source - https://github.com/frictionlessdata/tableschema-js/blob/master/src/table.js#L220-L253

I've opened an issue about this - https://github.com/frictionlessdata/tableschema-js/issues/92

[2017-09-20 16:48] anuveyatsu opened #13 "Excel parser should take an argument for sheet index"
At the moment, Excel parser works with the following algorithm:

1. check if file has more than 1 sheet
  1. yes - do prompt user to select a sheet
  2. no - auto select sheet 0

Now, we want it to first check if sheet index is explicitly given:

1. check if `sheetIdx` is provided
  1. yes - auto select that sheet
  2. no - do the old algorithm (see above)

## Acceptance criteria

* [x] I can call

[2017-09-20 16:50] anuveyatsu commented on #13
FIXED. Now we can pass the third argument `sheetIdx` to `xlsxParser` so it auto select that sheet.

[2017-09-20 16:50] #13 closed, assigned to anuveyatsu

[2017-09-21 11:57] anuveyatsu opened #14 "Create file object from stream"

[2017-10-03 11:26] rufuspollock opened #15 "Inline README not available in readme attribute on dataset"
No README showing up when doing `data info https://datahub.io/...`

Traced this to fact that we have readme attribute on descriptor but not on dataset object. Should fix this.

[2017-10-04 09:21] anuveyatsu commented on #12
INVALID - we will implement passing stream as source to tableschema's `infer` method so this issue becomes invalid - https://github.com/frictionlessdata/tableschema-js/issues/95

[2017-10-04 09:21] #12 closed, assigned to anuveyatsu

[2017-10-04 09:26] anuveyatsu opened #16 "Add README about "parseDatasetIdentifier" function"
`parseDatasetIdentifier` public function in data.js is not documented in the README (or in code - but usually should be in README)

## Acceptance criteria

* [x] README contains usage information about `parseDatasetIdentifier` function

## Tasks

* [x] update README with description and how to use info of `parseDatasetIdentifier` function

[2017-10-04 15:08] anuveyatsu opened #17 "Refactor "addSchema" method so we pass stream to infer"
When generating a schema for the file, we want to pass just a stream to `infer` method.

## Acceptance criteria

* [x] `addSchema` method passes just a stream to `infer` for generating schema

## Tasks

* [x] refactor `addSchema` method - remove unnecessary convertion of stream to row stream
* [x] fix tests

[2017-10-05 04:36] anuveyatsu commented on #17
FIXED - `addSchema` passes stream to `infer` method from `tableschema`

[2017-10-05 04:36] #17 closed, assigned to anuveyatsu

[2017-10-05 14:32] #15 closed, assigned to rufuspollock

[2017-10-18 13:58] #16 closed, assigned to anuveyatsu

[2017-10-30 07:21] anuveyatsu opened #18 "parsePath does not work with urls that don't have conventional filename"
At the moment, our `parsePath` function is quite basic (https://github.com/datahq/data.js/blob/master/lib/index.js#L194-L206). It always expects that there'll be regular file name in the URLs, e.g., https://example.com/path/myfile.csv, however, we have number of cases when it does not work. For example, URLs from world bank api - http://api.worldbank.org/indicator/NY.GDP.MKTP.CD?format=csv - would

[2017-10-30 10:43] rufuspollock commented on #18
I think:

* We should parse urls different from local paths
* There is nothing much we could do about the world bank file path and its extension (there are various complex heuristic we *could* use to have worked out this was not an extension but nothing obvious!)
* We need to probably be able to pass an explicit format to this function (in which case we don't try try and split out the extension ..

[2017-11-01 09:32] anuveyatsu commented on #18
FIXED. Next step is to handle passing `format` from CLI tool: https://github.com/datahq/datahub-cli/issues/197

[2017-11-01 09:32] #18 closed, assigned to anuveyatsu

[2017-11-14 09:23] anuveyatsu opened #19 "Mediatype as empty string is causing validation error"
Because in the specs we have following pattern for `mediatype` property - `^(.+)/(.+)$` - it is causing validation error when it is an empty string. We need to remove that property if it cannot be identified instead of having it as empty string (or null etc.).

## Acceptance criteria

* [x] mediatype property is only included when it has a value

## Tasks

* [x] refactor `parsePath` function in in

[2017-11-14 09:24] anuveyatsu commented on #19
FIXED

[2017-11-14 09:24] #19 closed, assigned to anuveyatsu

[2017-11-22 05:29] anuveyatsu opened #20 "Data.js should be minimal library and do not use packages like Inquirer"
Inquirer is the library for prompting users to select options in the command line and it should not be in this lib but in our CLI lib (https://github.com/SBoudrias/Inquirer.js/).

Note: Inquirer is used in xlsx parser to prompt user to select a sheet when there are more than 1 of sheets. Although it is not needed anymore, we should have it in CLI lib.

## Acceptance criteria

* [x] not using Inqui

[2017-11-22 05:35] #20 closed, assigned to anuveyatsu

[2017-11-24 13:18] rufuspollock commented on #20
👍

[2017-12-16 07:31] rufuspollock opened #22 "Use csv sniffer to guess dialect of csv"
Use this package to guess dialect of csv before loading https://www.npmjs.com/package/csv-sniffer

Test with loading a csv file with semicolon delimiters etc

[2017-12-16 07:37] rufuspollock opened #23 "Consider using fast-csv vs csv"
Is fast-csv faster? https://www.npmjs.com/package/fast-csv

Has a good interface afaict but is it worth any change?

[2017-12-27 07:30] zelima opened #24 "`isDataset` returns false if remote URL for dataset does not include datapackage.json"
As a datahub user, I want to request info for remote dataset indicating URL to dataset without datapackage.json, as it is more intuitive.

Currently, that is impossible as if URL does not end with datapackage.json we assume it is not a dataset: https://github.com/datahq/data.js/blob/master/lib/index.js#L306

## Acceptance Criteria

* [x] `data info https://datahub.io/core/finance-vix` displays inf

[2018-02-05 09:20] anuveyatsu commented on #22
DUPLICATE of https://github.com/datahq/pm/issues/87 and https://github.com/datahq/data-cli/issues/259

[2018-02-05 09:20] #22 closed, assigned to anuveyatsu

[2018-02-07 08:58] zelima opened #26 "Guess and set encoding for resources"
As a user I want data.js to guess encoding for my resources and update dp.json, so that if I forget setting it in dp.json it get's pushed.

As a user I want to push single file with a different encoding than utf-8.

[2018-02-07 10:47] zelima commented on #26
FIXED

[2018-02-07 10:47] #26 closed, assigned to zelima

[2018-02-14 08:03] zelima opened #31 "Setting escapcahr and quotechar to double quote acts unexpected"
@anuveyatsu what is the reason using double quotes as  escapechar, besides csv-parser using it as default? https://github.com/datahq/data.js/commit/398235d71302edffc9467a462f039c5c7bffeef0

Cause in python by default it's None https://docs.python.org/2/library/csv.html#csv.Dialect.escapechar

Cause it acts really weird if both, `escapechar` and `quotechar` are set to `"`. Eg take a look at this va

[2018-02-14 08:57] zelima opened #33 "Guess escapechar"
Currently, we do not have good way to guess `escapechar` for single CSV file. We used to hardcode and set it to `"`,  but that might not always be case - see #31

## Acceptance Criteria

* [ ] we guess `escapechar` in nice way, or now for sure that there is no easy way to do that

## Tasks

* [ ] research and do analysis

[2018-02-14 09:12] #31 closed, assigned to zelima

[2018-02-14 09:56] zelima commented on #31
FIXED. We allow guessing the `escapechar` to the processing libraries (tabulator) in python for now. Issue for guessing it here #33

[2018-02-27 07:30] AcckiyGerman opened #37 "[File] recognize encoding for remote resource"
Original: https://github.com/datahq/datahub-qa/issues/105
[code]
## Acceptance criteria
- `File.load('https://raw.githubusercontent.com/frictionlessdata/test-data/master/files/csv/encodings/iso8859.csv').encoding == 'ISO-8859-1'`
- `File.load('https://raw.githubusercontent.com/frictionlessdata/test-data/master/files/csv/encodings/western-macos-roman.csv').encoding == <macOS-roman-or-so>`

## Tasks

[2018-02-27 10:49] AcckiyGerman opened #38 "[File] stream non `utf-8` encoding"
As a user I want to handle files with different encoding, not only 'utf-8'

## Acceptance criteria

- [x] `File.stream()` could handle different encodings

## Tasks

- [x] create test
- [x] implement encoding for non 'utf-8' files

## Analysis

Initial analysis is here: https://github.com/datahq/datahub-qa/issues/105 (spent ~3h on it)

This lib encodes anything we need: https://www.npmjs.com/packa

[2018-02-28 07:42] AcckiyGerman commented on #38
FIXED:
I used npm 'iconv-lite' lib to decode all `non-utf8` file streams in a standard javascript string (utf-8). Then it is processed as usual and all the exotic chars like `Мама мыла эту раму` are shown normally.

[2018-02-28 07:42] #38 closed, assigned to AcckiyGerman

[2018-03-02 08:48] AcckiyGerman commented on #37
gist
[code]

[2018-03-08 05:20] zelima commented on #37
@AcckiyGerman What is the status for this one?

[2018-03-08 07:07] AcckiyGerman commented on #37
I had no time to work with this, but I still want to finish it.

[2018-03-13 20:06] AcckiyGerman commented on #37
Uploaded a bigger western-macos-roman encoded file:
https://github.com/frictionlessdata/test-data/blob/master/files/csv/encodings/big-western-macos-roman.csv

Size ~24kb.

Try to recognize with different sniffer libs:
- chardet (originally used in data.js): FAIL (windows-1252)
- html-encoding-sniffer: FAIL (windows-1252)
- Python version of **chardet**: FAIL (no result)

## Conclusion:
#### MacOS

[2018-03-20 07:54] anuveyatsu commented on #24
We cannot guess if a URL is a dataset if it doesn't consist `datapackage.json` in the end. The only special cases are github and datahub URLs so we're now handling that cases separately.

Info command is already FIXED, therefore, I'm closing this issue as WONTFIX.

[2018-03-20 07:54] #24 closed, assigned to nobody

[2019-02-05 21:17] #10 closed, assigned to nobody

[2019-02-24 14:56] acouch opened #49 "Open from Uploaded File"
When using data.js in the browser it would be useful to be able to open() from using the [File interface](https://developer.mozilla.org/en-US/docs/Web/API/File). Typically files are read with [File Reader](https://developer.mozilla.org/en-US/docs/Web/API/FileReader).

If you need to already parse the file using File Reader or other method then the utility of using data.js is diminished.

I think w

[2019-03-07 03:44] acouch opened #50 "TransformStream not supported outside of Chrome"
[TransformStream](https://github.com/datopian/data.js/blob/master/lib/parser/csv.js#L15) does not look like it is supported outside of Chrome: https://www.chromestatus.com/feature/5466425791610880 . Maybe a pollyfil could be used until it is fully adopted? Looks like this is an option? https://github.com/MattiasBuelens/web-streams-polyfill

[2019-03-20 18:50] rufuspollock commented on #50
@anuveyatsu i think we need to look at this and compare with table schema lib and how they do this.

[2019-06-11 17:37] anuveyatsu opened #51 "Use constructor name instead of "pathType""
E.g., a resource is identified as `FileRemote` but the parser checks by `descriptor.pathType`:

https://github.com/datopian/data.js/blob/master/lib/parser/csv.js#L43

which causes bugs, e.g., see https://github.com/datopian/dashboard-js/issues/9

[2019-06-12 19:01] rufuspollock opened #52 "Sniffing CSV dialect: an option not the default?"
Atm we auto-sniff the CSV dialect if it is not provided. This adds complexity (and overhead) to use.

Maybe we could switch to being an option rather than the default.

@anuveyatsu any idea why we started doing this?

[2019-06-19 17:31] anuveyatsu commented on #52
@rufuspollock we started doing this to support different field delimiters such as semicolon etc.

[2019-06-19 17:32] anuveyatsu commented on #51
FIXED in https://github.com/datopian/data.js/commit/ea76417be50fd8f15636f8476a88f66e6ec21470

[2019-06-19 17:32] #51 closed, assigned to nobody

[2019-06-19 19:45] anuveyatsu opened #53 "Constructor name for files are always equal to "t""
This creates buggy behaviour, e.g., we have case where we check if a file is FileRemote class by accessing its `file.constructor.name` - https://github.com/datopian/data.js/blob/master/lib/parser/csv.js#L43-L46 - however, after debugging, it appeared that all constructor function names are renamed to `t` in build files.

Here is a similar issue with uglifyJS lib - https://github.com/mishoo/UglifyJ

[2019-06-19 19:51] anuveyatsu commented on #53
This issue appears after compilation to ES5 so it is out of the scope of this repo. Moving to dashboard-js.

[2019-06-19 19:51] #53 closed, assigned to anuveyatsu

[2019-06-19 19:51] anuveyatsu commented on #53
Issue moved to [datopian/dashboard-js #14](https://github.com/datopian/dashboard-js/issues/14) via [**ZenHub**](https://www.zenhub.com/)

[2019-06-20 08:04] rufuspollock commented on #52
@anuveyatsu makes sense. Do you think it should be optional or not?

[2019-06-21 04:42] anuveyatsu commented on #52
@rufuspollock I might be wrong but as I know in some countries, e.g., France and Italy `;` is used more frequently than `,` as a field delimiter. I've also seen some sources with tab delimited fields. However, I'm not sure how often they are. I think we should keep it as default right now and wait for an issue from users.

[2019-06-27 13:49] starsinmypockets opened #54 "TypeError: data.load is not a function"
## Description
The docs refer repeatedly to `dataset.load` but this function appears to have been removed from the library?

This code:

[code]

Throws the following error:

[code]

## Action
- [ ] Confirm error
- [ ] Confirm `load` is removed from library
- [ ] Update docs to remove reference to missing function
- [ ] Update docs to clearly demonstrate correct method of loading data resources

[2019-06-27 13:57] anuveyatsu commented on #54
@starsinmypockets I don't think we have `data.load` in the README. What we have is `Dataset.load`:

[code]

I can see that the README has a mistake when importing..

[2019-06-27 14:04] starsinmypockets commented on #54
@anuveyatsu
Yes, this works:
[code]
Maybe this was a misreading of the docs on my part I'll look again.

[2019-06-28 04:15] anuveyatsu commented on #54
@starsinmypockets updated the README - https://github.com/datopian/data.js/blob/master/README.md#usage

FIXED in https://github.com/datopian/data.js/commit/0f0d3b0415933842742c7a188f3667ba08e4eeda

[2019-06-28 04:15] #54 closed, assigned to nobody

[2019-07-04 08:41] anuveyatsu opened #55 "Rows method reads first N rows but then continues loading the data"
When I call `file.rows({size:100})` it returns me the first 100 rows, however, if I check my browser's network, it is still loading the data.

[2019-07-05 06:11] anuveyatsu opened #56 "NPM package size is huge"
The package increases bundle size significantly, please, check:
https://bundlephobia.com/result?p=data.js@0.12.8

![image](https://user-images.githubusercontent.com/180658/60705608-d6de6f80-9f07-11e9-9fbd-35c06cfdda21.png)

[2019-07-05 07:22] rufuspollock commented on #55
This is actually a hard problem IIRC having done stuff in datapipes. Where is your initial analysis of how you did data streaming etc ?

[2019-07-05 07:33] rufuspollock commented on #56
nearly 50% is xlsx which is not even essential IMO. I wonder if all "readers" other than CSV should be outside of core and only built optionally (we could do 2 builds: a full build and a lean build).

Also why do we need moment? (and is iconv-lite necessary?)

[2019-09-03 04:14] anuveyatsu commented on #56
@rufuspollock this is one of the reasons for data explorer's size. cc/ @starsinmypockets

[2019-09-03 10:48] starsinmypockets commented on #56
* Removing xls seems like a no-brainer
* I like the idea of having pluggable or configurable builds
* [dayjs](https://github.com/iamkun/dayjs) replaces moment, is 2kb and has `23k ⭐️` (i've never used it)

[2019-09-03 16:31] rufuspollock commented on #56
@starsinmypockets can you have a look at this and estimate.

I also think iconv-lite is not need most of the time.

[2019-09-03 17:00] starsinmypockets commented on #56
@rufuspollock

I would estimate:
* 2 hrs to strip xls (or see lazy-loading below)
* 2 hrs to replace moment
* .5 - 1d implement a lazy-loading scheme (load if needed only -- I think there's some risk here / need further analysis)
* stripping iconv-lite we should wait on it --  we use it to decode  non-utf8 encoded csv's -- a robust solution here will probably save us all loads of hair-pulling and

[2019-09-03 17:04] rufuspollock commented on #56
OK, i think we should think about this in the bigger picture of data explorer first.

[2019-09-17 04:18] anuveyatsu commented on #55
Analysis are missing at the moment, but here is the code where we do streaming for 'remote' files. Note that this issue is already fixed now by calling `reader.cancel()` (see https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream/cancel#targetText=Cancel%20is%20used%20when%20you,is%20not%20readable%20any%20more.)

https://github.com/datopian/data.js/blob/master/src/index.js#L184-L206

[2019-09-17 04:27] anuveyatsu commented on #56
`xlsx` seems huge as it has both **reader** and **writer** for xlsx/xls. I guess we need only xlsx/xls **reader** so we could replace it with, e.g., `xlsx-extractor` which is 4x smaller (163kb vs 646kb).

[2019-09-17 04:29] anuveyatsu commented on #56
@starsinmypockets I think implementing lazy loading would make sense in data explorer but not in data.js.

[2020-08-21 12:10] rufuspollock commented on #50
@anuveyatsu any thoughts on this? @mariorodeghiero could take a look or @kmanaseryan

[2020-08-24 05:23] anuveyatsu commented on #50
@rufuspollock yes, I think we need to implement the polyfill to support browsers such as Edge and Safari. This lib was originally written for node.js but then we started using it in browsers but only considered Chrome back then.

[2020-09-03 08:39] kmanaseryan opened #64 "Do we need lib folder in the repo?"
@rufuspollock I think we should remove `lib` folder from the repo, since it's contains compiled files. However this can be included in `npm publish`

[2020-09-03 08:41] kmanaseryan opened #65 "Documentation: How to use in browser?"
Update README to include example of using the lib in the browser.

[2020-09-03 09:50] rufuspollock commented on #64
@kmanaseryan i don't know ask @anuveyatsu  (btw i'm generally not the person to ask for technical stuff on the js work 😄  - better anu)

[2020-09-03 10:16] kmanaseryan commented on #64
ok, sorry 😀

[2020-09-03 10:43] kmanaseryan commented on #50
@anuveyatsu I've checked the suggested pollyfill seems we can have that integrated, but first want to test this in the browser. Could you please let me know what's the easiest way to run this in the browser? Seems we have babel setup, but it doesn't compile to ES2015+ syntax.

Related #65

[2020-09-03 11:20] kmanaseryan commented on #50
OK, just integrated webpack and built the lib for the browser, but not sure if this enough? I've created a browser bundle which size is **2.4MB**

[2020-09-03 11:27] anuveyatsu commented on #50
@kmanaseryan have you tried `yarn compile` as here https://github.com/datopian/data.js/blob/master/package.json#L13 ?

If it doesn't help, then I'd use webpack which should be enough.

[2020-09-03 11:35] kmanaseryan commented on #50
Yup, as you can see I've also used webpack, but just letting you know that the bundle is too big.

[2020-09-03 11:51] anuveyatsu commented on #64
@kmanaseryan i think we need to keep it so that people can install the lib from the github directly. See that entry point of this app is `/lib/...`

[2020-09-03 14:47] kmanaseryan commented on #50
So just to clarify the issue this is what you get in the Safari browser:

`ReferenceError: Can't find variable: TransformStream ...`

[2020-09-03 15:07] rufuspollock commented on #50
@kmanaseryan where are we using TransformStream from? Perhaps it is a code path we don't need for datapub ...

[2020-09-03 15:21] kmanaseryan commented on #50
@rufuspollock [here](https://github.com/datopian/data.js/blob/master/src/index.js#L189)

[2020-09-04 06:44] kmanaseryan commented on #50
OK, after integrating the polyfill, I get the following error in Chrome:

`TypeError: Failed to execute 'pipeThrough' on 'ReadableStream': parameter 1's 'writable' property is not a WritableStream.`

In Safar:

`Unhandled Promise Rejection: TypeError: |this| is not a Promise`

[2020-09-04 09:42] rufuspollock commented on #50
@kmanaseryan some small feedback:

You want to excerpt the section if you can or give some context. Why? Because i get emails of your comments and i would be able to give immediate feedback from my email. Plus for anyone reading there is one less click. The basic principle: make a bit of effort at your end to save other's effort (i.e opening the link, reading etc).

More specifically reading this

[2020-09-04 10:00] kmanaseryan commented on #50
OK, I guess we have some gap in our communicaton and maybe that's my fault, if yes would be happy to resolve. Let's first clarify why I'm posting here. The porpouse of my comments here is just keep you udpated about my current progress rather than seeking any help, but of course any help will be appreciated. On the other hand I've commented here because this is how it was recommended in the onboar

[2020-09-04 10:42] rufuspollock commented on #50
@kmanaseryan more like can we refactor code to not use TransformStream but something else that does not need polyfilling (?)

[2020-09-04 11:04] kmanaseryan commented on #50
I think so. I think we can do `Uint8ArrayToStringsTransformer` work outside of `TransformStream`. So just use the initial readable stream came with response and inside the while loop encode the chunks using `TextDecoder`. So if we succeed here, then we can get rid of `TransformStream`. Working on it now, seems promising.

[2020-09-04 11:58] mariorodeghiero commented on #49
@rufuspollock  @kmanaseryan

Update:

- Created a draft PR to review https://github.com/datopian/data.js/pull/68

[2020-09-04 12:04] mariorodeghiero commented on #50
Sorry, I mentioned the issue number wrong in my commit above.

[2020-09-04 16:10] kmanaseryan commented on #65
Covered in #67

[2020-09-04 16:10] #65 closed, assigned to kmanaseryan

[2020-09-04 16:19] kmanaseryan opened #69 "Make Browser related code separated from the main lib"
Make the lib so that the all browser related code will not affect to Node environment and vise versa.

## Acceptance criteria

* [x] Existing tests pass after the change
* [x] Can use the lib in Node without errors
  * [x] It doesn't throw `[browser related variable] is not defined` error

## Tasks

* [x] Separate Browser related implementation which requires Browser specific classes
* [x] Make th

[2020-09-04 16:20] kmanaseryan commented on #50
Blocked by #69

[2020-09-04 16:20] kmanaseryan commented on #49
Blocked by #69

[2020-09-07 14:09] kmanaseryan opened #70 "Integrate Prettier in the code"

[2020-09-07 16:42] kmanaseryan commented on #70
Covered in #71

[2020-09-07 16:42] #70 closed, assigned to kmanaseryan

[2020-09-08 08:26] rufuspollock commented on #64
FIXED / INVALID. We are keeping it.

[2020-09-08 08:26] #64 closed, assigned to nobody

[2020-09-08 08:29] #69 closed, assigned to kmanaseryan

[2020-09-08 08:30] kmanaseryan commented on #50
FIXED in #69

[2020-09-08 08:30] #50 closed, assigned to kmanaseryan

[2020-09-08 17:41] mariorodeghiero commented on #49
Updates:

- I sent a https://github.com/datopian/data.js/pull/68 to review.

[2020-09-11 12:51] kmanaseryan commented on #49
FIXED in #76 and #77

[2020-09-11 12:51] #49 closed, assigned to kmanaseryan, mariorodeghiero

[2020-09-11 12:59] kmanaseryan opened #79 "Add support for other extensions except CSV for uploaded files"
Currently in the calls dedicated for uploaded files the csv format is hardcoded. We need to make it so the format will be automatically generated from the mime type.

## Acceptance criteria

- [ ] If I pass anything than CSV file the format should be the appropriate extension

## Tasks

- [ ] Read mime type from the file and generate the format

[2020-09-15 02:33] mariorodeghiero opened #80 "Error: unable to locate global object"
I tried to install the last version of the `data.js` in `ckan-client-js` but when I start to run the SDK tests, I receive an error.
This only happens if I use the **last version** from the `data.js` repository branch master like the code below in SDK package.json. But if I install and use it from the `npm install data.js`, everything works properly.

package.json
` "data.js": "git+https://github.c

[2020-09-15 11:03] anuveyatsu commented on #80
@mariorodeghiero that's expected afaik. You are using `data.js` in Node environment while the latest master is developed for browsers only. You should use it from the release (tag) for Node. We'll have a new release with breaking changes in the future where we will describe how to use it in the Node.

[2020-09-15 11:06] anuveyatsu commented on #79
Here is another fix for this - https://github.com/datopian/data.js/commit/db55e8cbe45aea30e564325f84a3035df8a151c9 which uses file extension to detect file format. I'm not sure if using mimetype is a good idea.

[2020-09-15 11:06] anuveyatsu commented on #79
@kmanaseryan  Please, feel free to close this issue as fixed if you believe so.

[2020-09-15 11:08] anuveyatsu opened #81 "Latest tests are failing"
See https://github.com/datopian/data.js/actions/runs/253706377

## Acceptance criteria

* [x] Tests are passing 😄

## Tasks

* [x] Debug the tests
* [x] Fix the bug

[2020-09-15 11:16] kmanaseryan commented on #79
@anuveyatsu there is lib which does job for us: https://www.npmjs.com/package/mime-types. If the extensions are known and they are few, we can actually hardcode them in a list and get the format from there, but if they are going to be arbitrary extensions then I think it worth to use the lib.

[2020-09-15 11:28] anuveyatsu commented on #79
@kmanaseryan yes and we're actually using that lib already https://github.com/datopian/data.js/blob/master/package.json#L53 and https://github.com/datopian/data.js/blob/b03836de6b3291173d2c37901456ba5f5aeb2baf/src/index.js#L369

I'm not sure about that lib because it might be just mapping file extension to mime-type.

[2020-09-15 11:28] #81 closed, assigned to anuveyatsu

[2020-09-15 11:57] kmanaseryan commented on #79
@anuveyatsu cool, haven't noticed that, so we can use it then.

I think the lib is more safe than we do it on ourselves, becuase two different mime types can have one extension, so this lib I believe handles that.

[2020-09-15 14:30] rufuspollock commented on #80
@anuveyatsu also in general ckan-client-js should **not** have an explicit dependency on data.js. DataPub should be the one using data.js.

[2020-09-15 18:16] rufuspollock opened #84 "Complete refactoring to support browser and node"
We now have a working system for browser and node but it is a little imperfect. We want to finalize this work and have a clean release setup and clear instructions for how to use from the two places.

[2020-09-15 18:16] rufuspollock commented on #80
INVALID. Don't think anything more here.

Generally i think master should work for node and we have a branch / build for browsers (rather than master being for browser). See #84 for follow up on that.

[2020-09-15 18:16] #80 closed, assigned to kmanaseryan

[2020-09-15 18:19] rufuspollock opened #85 "Rename and move datajs to frictionlessdata"
I think this library should become the main JS library  ~~base level frictionless "driver" / sdk for JS~~ in the Frictionless project. This would imply:

* Relocating to github.com/frictionlessdata/frictionless-js
* ~~Renaming to `frictionless-driver-js` or similar (naming for this is still tbc)~~
* Pushing to NPM as `frictionless`

~~Note we would want to build a higher level `frictionless-js` li

[2020-09-15 20:07] mariorodeghiero opened #86 "hash sha-256 is wrong"
As a user I want to run ` const hash = await file.hashSha256()` and return a sha-256 hash.
The return of the `sample.csv` file in `test/fixtures/sample.csv` should be of the print below. But I am receiving `+fmT1a/ovuOXWfjTkXhWFjIAKB3t+5AHMx0HLxuXzQM=`

**Note:** In the past, I sent a PR to use **CryptoJS** stead of `crypto` to generate a hash for File object in the browser.

Expected:

![Screensh

[2020-09-16 06:57] kmanaseryan commented on #86
Thanks for opening this issue. @mariorodeghiero maybe CryptoJS was easy to implement, but I think if in Node crypto works then it must to work in the browser. If there is such an issue in the browser then it should exists in the Node.

I think the encryption is correct as this is how in other file like classes implemented, just the output of encoding is different. In our case we use `base64` encod

[2020-09-16 07:30] kmanaseryan commented on #86
OK, I've used **sample.csv** file here: https://emn178.github.io/online-tools/sha256_checksum.html
It gives me `d9d47b90ac9607c5111ff9a83aa37bc10e058ce6206c00b6626ade091784e098` sha256 hash which is basically has `hex` encoding.

Just to be clear the **sample.csv** file content is:
[code]

Current `hashSha256()` function is the following:
[code]

In the above function if you change the `'base64'`

[2020-09-16 11:12] mariorodeghiero commented on #86
@kmanaseryan ok, I will test with your changes in 3027db3

[2020-09-16 12:01] rufuspollock commented on #86
FIXED. We now encode with hex.

[2020-09-16 12:01] #86 closed, assigned to kmanaseryan

[2020-09-17 05:34] anuveyatsu opened #88 "Release the library properly and document installation"
## Acceptance criteria

* [ ] I have a major release re recent changes
* [ ] I can install it via package registry using both `NPM` and `Yarn`
* [ ] I have docs about how to install it in NodeJS environment
* [ ] I have docs about how to install it using `NPM` and `Yarn` but for browser environment, eg, when developing a React app
* [ ] I have docs about how to install it in browsers

[2020-09-17 05:55] kmanaseryan commented on #84
WONTFIX as we have similar but more clear issue #88

[2020-09-17 05:55] #84 closed, assigned to nobody

[2020-10-06 13:25] risenW commented on #88
@rufuspollock, In addition to the acceptance criteria above by @anuveyatsu, I'm proposing doing the following before release:
* refactoring the classes in the main script [index](https://github.com/datopian/data.js/blob/master/src/index.js) to separate modules. This will make it more manageable and easier for contributors to work with.
* Using ES6 import and export instead of require

what are you

[2020-10-06 14:44] lwinfree commented on #85
sounds great!

[2020-10-07 08:12] rufuspollock commented on #88
@risenW I think that refactoring makes sense. I've added those items to the task list in the description. Please go ahead and work on them.

/cc @kmanaseryan

[2020-10-07 08:50] risenW commented on #88
Alright, noted!

[2020-10-09 12:52] risenW commented on #88
## Tasks

Tasks
* [x] Refactor data.js main script into submodules
* [x] Refactor code base to ES6 specification
* [x] Refactor test suite from ava to mocha (It is easier to set up testing suites using for mocha)
* [ ] Update docstrings for classes and methods
* [x] Update installation guides for users and developers

[2020-10-09 17:58] mariorodeghiero opened #89 "[upload] browser crashes while trying to upload large file (~600Mb)"
Browser crashes while trying to upload a large CSV file (~600Mb) for the resource

## Acceptance

- [x] Generate hash MD5 and SHA256 for large files

## Tasks

- [x] slipt the file in chunks and generate hash chunk by chunk and after compile in the final hash

## Analysis

There are two options:
1. Uploading streams - **Problem**: stream upload is not supported by old browsers, since we should use

[2020-10-13 08:14] #88 closed, assigned to risenW

[2020-10-15 07:15] kmanaseryan commented on #89
@mariorodeghiero can we close this? Seems has been solved in #90?

[2020-10-15 07:37] kmanaseryan opened #93 "Refactor the code to generate the hashes only using stream API"
So recently in #90 has been implemented a function which reads the large data by chunks in the browser which lets to generate hashes for the large files.

The problem is we don't take advantage from stream API, since every `FIle` like class has `stream()` function.

## Acceptance criteria
- [x] The hashes are being generated using streams() in browser
- [x] The hashes are being generated using str

[2020-10-15 11:19] mariorodeghiero commented on #89
I think yes.
FIXED. I hope the hash issue should be fixed in #90

[2020-10-19 07:34] mbeilin commented on #89
@mariorodeghiero after some tests in NHS, the following error is throwing trying to upload the file ~600Mb:

![Screenshot from 2020-10-19 10-28-40](https://user-images.githubusercontent.com/61929774/96414987-8ff8b400-11f6-11eb-94d3-75ee00841480.png)

[2020-10-19 14:05] mariorodeghiero commented on #89
@mbeilin thanks for letting us know.  Probably because of the `file.row()` and `file.addSchema()` not support it.

cc: @risenW

[2020-10-20 10:58] risenW commented on #89
@mariorodeghiero Just tested this with a 2.4gb CSV file, and it works well. @mbeilin It could probably be the file you were trying to use.

<img width="884" alt="Screen Shot 2020-10-20 at 11 55 27 AM" src="https://user-images.githubusercontent.com/29900845/96577368-6eb5c780-12cb-11eb-89c1-5988b3e45f4e.png">

[2020-10-20 12:47] mbeilin commented on #89
@risenW @mariorodeghiero I'm using this file, you can try this also - just download and exract the csv file from archive:
https://storage.googleapis.com/datopian-test/anon7762d88b53b9cae7c11295134f6fcb9284b81af1/EPD_202008-000000000000.csv.gz

LMK if it works for you locally.

[2020-10-20 13:13] risenW commented on #89
@mbeilin Sorry about my earlier comment, I was using a smaller file instead. Currently working on the issue now.

[2020-10-21 14:53] #55 closed, assigned to risenW

[2020-10-21 14:58] risenW commented on #89
@mbeilin This issue has been fixed and merged with the master branch. You can try it from your end.

cc: @mariorodeghiero

[2020-10-21 15:00] mariorodeghiero commented on #89
great, let's test it.

[2020-10-26 10:47] risenW commented on #93
@kmanaseryan There is a tradeoff for reading streams in the browser. Currently, if we use the [stream](https://developer.mozilla.org/en-US/docs/Web/API/ReadableStream/getReader) implementation:

[code]

 we can not set the chunk size, and this defaults to 64kb in chrome-quite small. If we use the readChunk by @mariorodeghiero  approach, then we can set a chunk size but we'll be using the FileReade

[2020-10-26 13:04] risenW commented on #89
@mbeilin we found the cause of the problem. It's because of the buffer method. We'll work on it.

[2020-10-26 15:43] rufuspollock commented on #93
i don't think we need config chunk size if default is quite small e.g. 64kb.

[2020-10-26 17:33] risenW commented on #93
@rufuspollock Yea, there is no need for that, 64kb works quite okay. I've made the update, see #95

[2020-10-27 09:52] rufuspollock commented on #89
@risenW can we also get a reasonable local (automated) test with a large file so that we increase likelihood of finding issues here rather than when integrating into upstream code? (NB: the large file might need to be stored outside of git ...)

[2020-10-27 10:45] risenW commented on #89
@rufuspollock Yes, I'll set this up locally.

[2020-10-29 08:38] #93 closed, assigned to mariorodeghiero, risenW

[2020-10-30 11:55] kmanaseryan commented on #89
How we can test this in upload large file function? In #96 it's not described

[2020-11-01 14:13] kmanaseryan opened #97 "Improve README for API usage"
## Acceptance criteria
- [x] API section is separated from README __Done__ https://github.com/frictionlessdata/frictionless-js/tree/update-doc/docs
- [x] jsdoc-to-markdown is installed in dev deps __Done__
- [x] Can run `yarn docs`, which will generate .mds (would be great if we can automatically save into _./doc/API.md_ file __Done__

## Tasks
- [x] Separate API section into another markdown. See

[2020-11-01 14:20] kmanaseryan opened #98 "Make stream() a generic for all File like classes"
## Acceptance criteria

- [x] We use one `hash()` function for every File classes
- [x] `hash256()` is back and deprecated
- [x] We have one `stream()` function for the given class i.e. each class has it's own implementation of `stream()` method. So unlike `hash()` which can be inherited by parent class, this stream might be different depending on which environment (node vs browser) we are or whet

[2020-11-01 14:28] kmanaseryan opened #99 "Do not include build files in the project"
## Acceptance criteria
- [x] Build files should not be included in the project.
- [x] The content `datajs` folder is moved outside
- [x] Move the FileInterface class outside File script.
- [x] When I run `yarn build:browser` it builds the files in _dist/browser_ folder
- [x] When I run `yarn build:node` it builds the files in _dist/node_ folder
- [x] The main in the package.json is mount to "dist/

[2020-11-02 18:59] rufuspollock commented on #89
@kmanaseryan i don't quite get

what does that mean? Why does this mean it won't be handled by the storage service. could you give a bit more detail.

[2020-11-03 08:53] risenW commented on #99
@kmanaseryan I added the FileInterface (num 3) update we talked about yesterday to the acceptance criteria of this issue.

[2020-11-03 11:32] shevron commented on #89
I am a bit lost here, but here is what is needed in order to support large file uploads to Git LFS based storage as is implemented by `ckan-client-js`:
- We need to be able to read files (in the browser, but it would be useful to also have it Node.js) not entirely into memory but as a stream, e.g. read 1mb and process it iteratively
- We need this iterative / stream method to be used when calculat

[2020-11-03 11:43] shevron commented on #89
Ok, after reading @kmanaseryan's analysis again I understand that some of these will not be supported in older browsers (IE 11 for example, and from what I can see even modern versions of Safari may be problematic but I'm not 100% sure on this one). In this case, if we *need* to support these browsers, the only option I see going forward is that uploading large files will only be possible with the

[2020-11-03 13:23] kmanaseryan commented on #89
@shevron thanks for the insights.

This is already implemented both for node and browser. We have `stream()` which does that job. Even more for browser we have Node like stream, thanks to the recent updates that @risenW made

So after the recent updates now `hash()` function uses streams.

We can implement a new method which will do this behind the scene using streams.

As for Axios, in the browse

[2020-11-03 14:39] mariorodeghiero opened #102 "Create a method to be able to read the file between specific locations"

[2020-11-03 14:39] risenW opened #103 "Slice stream function for node backend"
Acceptance Criteria

- [ ] The method should receive start position, end position
- [ ] I am able to seek a file to a specific location and then read N bytes from it
- [ ] I am able to return seek position as a stream

[2020-11-03 14:41] mariorodeghiero commented on #102
duplicate https://github.com/datopian/data.js/issues/103

[2020-11-03 14:41] #102 closed, assigned to mariorodeghiero, risenW

[2020-11-04 17:09] #98 closed, assigned to risenW

[2020-11-04 17:38] kmanaseryan commented on #89
Closing this, you can follow https://github.com/datopian/ckan-client-js/issues/32

[2020-11-04 17:38] #89 closed, assigned to mariorodeghiero, risenW

[2020-11-05 07:36] shevron commented on #103
If we are using the browser's `File` API, at least for browser this is not needed because `File.slice()` is already available and does the job.

I am not sure about Node support, but if we want to have node support, we need to provide some kind of unified API - maybe the best approach would be to use [something like this](https://www.npmjs.com/package/file-api) that emulates `File` API on Node.

[2020-11-05 08:00] risenW commented on #103
I don't think this is a priority at the moment, right?

[2020-11-05 08:06] risenW commented on #99
@kmanaseryan See fix here #101

[2020-11-05 10:17] risenW commented on #85
__Note:__ We need to update the Travis and Github CI links

[2020-11-05 10:30] risenW commented on #85
@mariorodeghiero @kmanaseryan We have moved the data.js repo to frictionless. Please update the name in any dependency using datajs directly from github

[2020-11-05 10:50] rufuspollock commented on #103
Node support should be quite straightforward since we have a simple stream API (right?).

[2020-11-06 07:30] #99 closed, assigned to nobody

[2020-11-06 12:26] risenW commented on #85
@rufuspollock This is all done and ready to close

[2020-11-09 09:10] rufuspollock commented on #85
@risenW great, you can close this. Before doing that however i would recommend updating all acceptance criteria done with **bolded** evidence of it being done e.g. link to npm package etc. Similarly in tasks maybe worth mentioning what downstream packages you have updated.

All done now.

[2020-11-09 16:15] rufuspollock commented on #103
@risenW I'm not yet clear why we need slice vs basic `stream()` method we already had (node streams allow one to read chunk by chunk). Can you give more info on `slice` vs `stream` and why we need slice?

[2020-11-09 16:27] rufuspollock commented on #85
@risenW you also want to close the issue as per https://playbook.datopian.com/issues-tasks/#closing-issues e.g. FIXED etc with a comment. Do you want to try doing that.

[2020-11-09 16:37] risenW commented on #103
This is not needed anymore I think. It was a backup in case the streaming upload didn't work. But since it has already been fixed, we do not need this anymore.

And yes, after my research as well I found out that node file stream has a __start__ and __end__ parameter that we can use.
If needed, we can just create a simple function on top of it.

[2020-11-09 16:39] risenW commented on #85
Yes, I will update it now

[2020-11-09 16:42] risenW commented on #85
FIXED. See https://www.npmjs.com/package/frictionless.js and https://github.com/frictionlessdata/frictionless-js

[2020-11-09 16:42] #85 closed, assigned to risenW

[2020-11-10 15:39] shevron opened #108 "Export standalone hash / digest function (or switch to a 3rd party module)"
Would be great if the hash / digest function could be used on any browser `File` / `Blob` object (e.g. the result of `File.slice()`) and not just specifically on frictionless File objects. This would be useful to me in ckan-client-js.

Even better, I don't see why not to use a 3rd party module for hash calculations, and avoid implementing it ourselves all together. If this happens, I could just re

[2020-11-10 15:41] shevron opened #109 "Cache hash results on the File object"
In many cases, I see `hash` is called multiple times for the same file. This is wasteful as hashes should not change (assuming the file doesn't change) and are costly to compute. For example, when a file is uploaded via `datapub`, I see `hash` is being called 3 times (once by `datapub`, then by `ckan-client-js` for the `upload` action and then again by `ckan-client-js` for the `verify` action).

I

[2020-11-10 16:46] rufuspollock commented on #108
@risenW @kmanaseryan I thought we had a hash function here including hash256 (and using streaming approach).

@shevron can you describe exactly the signature and function of the method(s) you want?

[2020-11-10 16:48] rufuspollock commented on #109
@shevron 👍  - i imagine that we could add an optional argument e.g. `force` which forces a recompute and otherwise the hash attribute / method caches the result.

[2020-11-10 16:59] risenW commented on #108
@rufuspollock Yes we have an internal compute hash function that accepts a stream and incrementally computes the hash (see function [here](https://github.com/frictionlessdata/frictionless-js/blob/363504b20de8eb954aaefffe868126d1a3abc367/src/file-base.js#L196)).

@shevron have you tried using the internal [_computeHash](https://github.com/frictionlessdata/frictionless-js/blob/363504b20de8eb954aaeff

[2020-11-10 18:35] shevron commented on #108
@rufuspollock the one we have, `_computeHash`, is what I need. I just need it exported publicly. But as I said I'd rather just use a 3rd party module. I see no reason to reinvent the wheel here if such module exists.

[2020-11-11 09:13] rufuspollock commented on #108
@risenW is there an existing 3rd party module or do we just want to export the internal function. Also, i thought there was supposed to be `hash` and `hash256` functions on the base `File`? Aren't those the public methods we want to use?

[2020-11-11 09:43] risenW commented on #108
I'll export the existing function now. As regards hash and hash256, we deprecated hash256, as we decided to use a single API (hash), so you can use different algorithm types passed as parameters.

Update: see this pull https://github.com/frictionlessdata/frictionless-js/pull/110

[2020-11-11 10:21] risenW commented on #109
@shevron This issue makes perfect sense, I have some ideas, and I'll look into this, might send a PR later today.

cc @rufuspollock

[2020-11-11 11:18] #108 closed, assigned to nobody

[2020-11-16 15:11] #109 closed, assigned to risenW

[2020-11-25 15:35] #97 closed, assigned to risenW

[2020-11-25 15:41] kmanaseryan opened #115 "Fix security updates as listed by Dependabot"
## Tasks
- [ ] Fix the security updates as listed by Dependabot

## Acceptance criteria
- [ ] We don't see security alert when we visit the repo.
- [ ] The listed security updates are fixed.

[2021-02-27 13:59] rufuspollock opened #120 "Work out why API docs not generating properly (and fix)"

[2021-03-18 09:29] risenW opened #122 "Hash method does not return progress when computing hash for remote files"
The has methods consistently returns NaN as progress when computing hash for files loaded from remote URL

To reproduce:
[code]

[2021-07-19 15:00] adamhooper opened #130 "Allow passing authentication headers when loading URLs"
I'm building ... well ... a data hub. Some clients will publish private Frictionless datasets, and they'll want tools to read them.

I see no docs on frictionlessdata.io concerning this pattern. So as a brainstorm idea, perhaps let the user define an HTTP transport:

[code]

Prior work: Here are some approaches for supporting a zillion HTTP servers:

* Elastic client has an options Object, allowin

[2021-07-20 07:10] rufuspollock commented on #130
@adamhooper hi, and great to hear from you. I'm one of the creators of Frictionless. Very interested in this pattern. Obviously retrieving a dataset is relatively straightforward but things like integrating with a local graphql layer could be very interesting.

Please do share more thoughts and I can share a bit of background at our end.

At [Datopian](https://datopian.com/) we've been building Da

[2021-07-20 13:03] adamhooper commented on #130
@rufuspollock Hiya! Good to hear from you. I think Frictionless Data is awesome.

I'm CTO of [Workbench](https://workbenchdata.com). Right now I'm building a feature that lets users click "Publish" to create a dataset they can access with any Frictionless-compatible client. Once that's up, we'll build our own Workbench+Frictionless importer so our users can actually _use_ the datasets they publish

[2021-07-26 06:27] rufuspollock commented on #130
👍 100%. I think nothing needs changing in specs.

When you do get this working could be nice to share some code snippets so that others can learn from you (and us).

Also great to see Workbench - looks super cool and delighted to hear Frictionless and the Frictionless libs have been valuable to you!

[2021-11-11 02:22] khughitt opened #136 "Add support for datapackage.yml files?"
It looks like the library is currently hard-coded to expect json files.

Would it be possible to support `datapackage.yml` files as well?

[2021-11-11 02:31] khughitt commented on #136
On second thought; don't waste your time on this now..

Since frictionless-js is primarily targeting the web, and since JSON is the natural way to communicate over the web, I don't think supporting yaml datapackage files (as much as I might prefer it for most purposes), is really all that important.

I'm going to close this for now.

If it turns out to be useful in the future, we can always re-ope

[2021-11-11 02:31] #136 closed, assigned to nobody

[2021-11-14 20:32] rufuspollock commented on #136
@khughitt well we use this a lot as a node library. A major use case for yaml is frontmatter in markdown files - using frictionless schema stuff in frontmatter to turn a markdown file into a dataset (or general data literate document). For more see https://portaljs.org/data-literate

[2021-11-15 22:17] khughitt commented on #136
@rufuspollock Okay nice! I will take a look. A lot of my earlier efforts were focused around working with metadata files via pipelines & CLI tools, so that framed how I was initially thinking about this.

[2022-01-21 16:14] loleg opened #140 "Publish a cdnjs package"
This would help developers to quickly and reliably bundle this library into their apps. I appreciate that [jsDelivr](https://jsdelivr.com/) and others serve and cache directly from GitHub, however [cdnjs.com](https://cdnjs.com/libraries?q=frictionless) is popular and has a good reputation. The process is to submit a request here: https://github.com/cdnjs/packages/issues?q=frictionless+

For bonus

[2022-01-24 10:30] rufuspollock commented on #140
@loleg sounds good - are you up for submitting the request?

[2022-01-27 15:32] loleg commented on #140
Sure, I don't mind picking this up (especially the fiddle part), if nobody else would care to do the honours.